:root{
--color-primary:#34c94b;
--color-black:#121212;
--color-white:#ffff;
}

*,

*::before,
*::after{
  box-sizing:border-box;
}

*{
  margin:0;
}

body{
  font-family: "Poppins",sans-serif ;
  line-height: 1.5;
  background-color: var(--color-black);
  color:var(--color-white);
  overflow-x: hidden;
}